h1, h2, body {
	font-family: 'Poiret One', cursive;
}
h1, h2{
	font-weight: 300px;
}
body{
	font-weight: 100px;
}
.vco-timeline, .vco-navigation, .timenav-background, .timenav-tag-row-1, .vco-timeline, .vco-navigation, .timenav-background, .timenav-tag-row-2{
	background: blue !important;
}
